<footer class="footer">
  <div class="container footer-container">
    <div class="pervoe">
      <div class="footer-logo">
        <a class="footer-logo-icon" href="">
          <svg class="footer-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-logo-icon"></use>
          </svg>
          <svg class="footer-icon-text" width="148" height="12">
            <use href="./img/icons.svg#icon-GreenHarvest"></use>
          </svg>
        </a>
        <p class="footer-pervoe-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-vtoroe-nav">
        <nav class="footer-nav">
          <div class="footer-vtoroe-list">
            <a class="footer-item" href="#Works">how it works</a>
            <a class="footer-item" href="#Vegetables">vegetables</a>
            <a class="footer-item" href="#Reviews">reviews</a>
          </div>
        </nav>

        <address class="footer-vtoroe-address">
          <a class="footer-tel" href="tel:+380684439426" aria-label="contact us"
            >+380 (68) 443-94-26</a
          >

          <a
            class="footer-address"
            target="_blank"
            href="https://tinyurl.com/yc4jndfk"
            aria-label="There we are"
            >1678 S. Pioneer Road Salt <br />
            Lake City UT 84104</a
          >
        </address>
      </div>
    </div>
    <div class="footer-ul-niz">
      <a class="footer-niz-p" href="#">Privacy Policy</a>
      <span class="footer-niz-razdel">/</span>
      <a class="footer-niz-c" href="#">Cookie settings</a>
      <!-- </li>
      <li> -->
      <a class="footer-niz-g" href="#">&copy;Green Harvest 2023</a>
    </div>
  </div>
</footer>
