<footer class="footer">
    <div class="container">
        <div class="pervoe">
            <div class="logo-icon">
                <svg class="logo-icon-svg" width="18" height="18">
                    <use href="../img/icons.svg#icon-logo-icon"></use>
                  </svg>
              </div>
            <a class="logo" href="">GREEN.HARVEST</a>
            <p class="logo-text">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
        </div>
        <div class="vtoroe">
            <ul class="vtoroe-ul">
                <li class="vtoroe-li"><a href="how it works">how it works</a></li>
                <li class="vtoroe-li"><a href="vegetables">vegetables</a></li>
                <li class="vtoroe-li"><a href="reviews">reviews</a></li>
            </ul>
        </div>   
        <div class="contacts">
            <address class="address">
                <ul class="contacts-ul">
                  <li class="contacts-li">
                    <a href="tel:+380 (68) 443-94-26">+380 (68) 443-94-26</a>
                  </li>
                  <li class="contacts-li">
                    <a href="adress:1678 S. Pioneer Road Salt Lake City UT 84104">1678 S. Pioneer Road Salt Lake City UT 84104</a
                      
                    >
                  </li>
                </ul>
              </address>
              <address class="adress-niz">
                <div class="niz">
                <ul class="niz-ul">
                  <li class="niz-li">

              <a class="niz-link" href="">Privacy Policy / Cookie settings</a> 
            
            </li>

            <li class="niz-li">
              <a class="niz-link" href="">©Green Harvest 2023</a>

            </li>
            </ul>
            </div>
          </address>
        </div>
    </div>
    </footer>
  </body>
</html>
