<header class="head">
  <div class="headd containerr">
    <nav class="nav-head">
      <a class="logo-head" href="./index.html">
        <svg class="ic-logo-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-logo-icon"></use>
        </svg>
        <!---<p class="logo-name">Green.Harvest</p>---->
        <svg class="ic-logo-head-name" width="148" height="12">
          <use href="./img/icons.svg#icon-GreenHarvest"></use>
        </svg>
      </a>
      <div class="nav-but">
        <ul class="nav-menu">
          <li><a class="nav-link" href="#Works">How It Works</a></li>
          <li><a class="nav-link" href="#Vegetables">Vegetables</a></li>
          <li><a class="nav-link" href="#Reviews">Reviews</a></li>
        </ul>
        <button class="button" type="button">Shop now</button>
      </div>
      <button type="button" class="btn-open-menu" data-modal-open>
        <svg class="ic-head-menu" width="32" height="32">
          <use href="./img/icons.svg#icon-menu-burger-small"></use>
        </svg>
      </button>
    </nav>
  </div>
  <!---mob-menu  is-open  ---->
  <div class="mob-menu" data-modal>
    <div class="tablet-background">
      <!--background HERO-->
    </div>
    <div class="mob-menu-modal">
      <button type="button" class="btn-menu-cl" data-modal-close>
        <svg class="ic-open-menu" width="20" height="20">
          <use href="./img/icons.svg#icon-censel"></use>
        </svg>
      </button>
      <nav>
        <ul class="nav-m">
          <li>
            <div class="nav-m-d current">
              <a class="nav-link-m" href="">How It Works</a>
            </div>
          </li>
          <li>
            <div class="nav-m-d">
              <a class="nav-link-m" href="">Vegetables</a>
            </div>
          </li>
          <li>
            <div class="nav-m-d">
              <a class="nav-link-m" href="">Reviews</a>
            </div>
          </li>
        </ul>
      </nav>
      <button class="button-m" type="button">Shop now</button>
    </div>
  </div>
</header>
