<section class="hero">
  <div class="container hero-container">
    <div class="hero-text">
      <h2 class="hero-title">organic vegetables to your diet today!</h2>
      <p class="hero-description">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </div>
    <div class="hero-img-bgr"></div>
  </div>
</section>
