<!--reviews-->
<section class="reviews-opinions">
    <div class="container content-reviews">
      <h2 class="title-reviews">reviews from our <span class="title-diferent">customers</span>
      </h2>
      <p class="opinions">Words of our customers: impressions and opinions about the quality of our services and the freshness of our products.</p>
      <ul class="client-list-reviews">
        <li class="list-reviews">
          <img 
          srcset="./img/john-wax-min.jpg 1x, 
          ./img/john-wax-2-min.jpg 2x" 
          src="./img/john-wax-min.jpg"
          alt="John Wax" width="56" height="56"/>         
          <h3>John Wax</h3>
          <p>These vegetables are my secret to delicious and healthy meals. The quality is always at the highest level, the aroma and taste are enchanting. I advise every fan of real products!</p>    
        </li>
         <li class="list-reviews">
          <img
          srcset="./img/victoria-romashenko-min.jpg 1x, 
          ./img/victoria-romashenko-2-min.jpg 2x" 
          src="./img/victoria-romashenko-min.jpg"
          alt="John Wax" width="56" height="56"/>         
          <h3>Victoria Romashenko</h3>
          <p>I love how fast and fresh the vegetables are delivered. Salads always turn out so appetizing, and soups are real masterpieces. The quality is impeccable!</p>
         </li>
         <li class="list-reviews">
          <img
          srcset="./img/ihor-trachuk-min.jpg 1x, 
          ./img/ihor-trachuk-2-min.jpg 2x" 
          src="./img/ihor-trachuk-min.jpg"
          alt="John Wax" width="56" height="56"/>  
          <h3>Ihor Trachuk</h3>
          <p>Recently tried my fresh tomatoes and peppers - amazing! The authenticity of the taste, as if from the garden directly to my table. It is now my main vegetable supplier.</p>
         </li>

      </ul>
    </div>
  </section>