<!--reviews-->
<section id="Reviews" class="reviews-opinions">
  <div class="container">
    <div class="content-reviews">
    <h2 class="title-reviews">reviews from our <span class="title-diferent">customers</span>
    </h2>
    <p class="opinions">Words of our customers: impressions and opinions about the quality of our services and the freshness of our products.</p>
    <ul class="client-list-reviews">
      <li class="list-reviews john-wax">
        <img class="imagines-list-reviews" 
        srcset="./img/john-wax-mobile-1x-min.jpg 1x, 
        ./img/john-wax-mobile-2x-min.jpg 2x" 
        src="./img/john-wax-mobile-min.jpg"
        alt="John Wax" width="56" height="56"/>         
        <h3 class="tittle-lista">John Wax</h3>
        <p class="parrafo-lista">These vegetables are my secret to delicious and healthy meals. The quality is always at the highest level, the aroma and taste are enchanting. I advise every fan of real products!</p>    
      </li>
       <li class="list-reviews victoria-romashenko">
        <img class="imagines-list-reviews"
        srcset="./img/victoria-romashenko-tablet-1-min.jpg 1x, 
        ./img/victoria-romashenko-disctop-2-min.jpg 2x" 
        src="./img/victoria-romashenko-tablet-min.jpg"
        alt="John Wax" width="56" height="56"/>         
        <h3 class="tittle-lista">Victoria Romashenko</h3>
        <p class="parrafo-lista">I love how fast and fresh the vegetables are delivered. Salads always turn out so appetizing, and soups are real masterpieces. The quality is impeccable!</p>
       </li>
       <li class="list-reviews ihor-trachuk">
        <img class="imagines-list-reviews"
        srcset="./img/ihor-trachuk-disctop-1-min.jpg 1x, 
       ./img/ihor-trachuk-disctop-2-min.jpg 2x" 
        src="./img/ihor-trachuk-disctop-min.jpg"

        alt="John Wax" width="56" height="56"/>  
        <h3 class="tittle-lista">Ihor Trachuk</h3>
        <p class="parrafo-lista">Recently tried my fresh tomatoes and peppers - amazing! The authenticity of the taste, as if from the garden directly to my table. It is now my main vegetable supplier.</p>
       </li>

    </ul>
  </div>
  </div>
</section>
