<section class="vegetables">
    <div class="container">
        <h2 class="veg-title">organic <span class="veg-title-part">vegetables</span></h2>
        <p class="veg-text">
            Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get
            the freshest and most nutritious produce possible.
        </p>
        <ul class="veg-list">
            <li class="veg-list-item">
                <h3 class="veg-subtitle">eggplant</h3>
                <p class="veg-price">60 UAH / kg</p>
                <picture>
                    <source 
                        media="(min-width: 1280px)" 
                        srcset="./img/desct-veg-1-1x.png 1x, 
                        ./img/desct-veg-1-2x.png 2x" 
                    />
                    <source
                        media="(min-width: 768px)" 
                        srcset="./img/tablet-veg-1-1x.png 1x, 
                        ./img/tablet-veg-1-2x.png 2x" 
                    />
                    <source 
                        media="(max-width: 767px)" 
                        srcset="./img/mobile-veg-1-1x.png 1x, 
                        ./img/mobile-veg-1-2x.png 2x" 
                    />
                    <img 
                        src="./img/desct-veg-1-1x.png" 
                        alt="eggplant" 
                        width="282" 
                        height="243" 
                    />
                </picture>
            </li>
            <li class="veg-list-item">
                <h3 class="veg-subtitle">leek</h3>
                <p class="veg-price">50 UAH / kg</p>
                <picture>
                    <source 
                        media="(min-width: 1280px)" 
                        srcset="./img/desct-veg-2-1x.png 1x, 
                        ./img/desct-veg-2-2x.png 2x" 
                    />
                    <source 
                        media="(min-width: 768px)" 
                        srcset="./img/tablet-veg-2-1x.png 1x, 
                        ./img/tablet-veg-2-2x.png 2x"
                    />
                    <source 
                        media="(max-width: 767px)" 
                        srcset="./img/mobile-veg-2-1x.png 1x, 
                        ./img/mobile-veg-2-2x.png 2x" 
                    />
                    <img 
                        src="./img/desct-veg-2-1x.png" 
                        alt="leek" 
                        width="282" 
                        height="243" 
                    />
                </picture>
            </li>
            <li class="veg-list-item">
                <h3 class="veg-subtitle">mushrooms</h3>
                <p class="veg-price">40 UAH / kg</p>
                <picture>
                    <source 
                        media="(min-width: 1280px)" 
                        srcset="./img/desct-veg-3-1x.png 1x, 
                        ./img/desct-veg-3-2x.png 2x" 
                    />
                    <source 
                        media="(min-width: 768px)" 
                        srcset="./img/tablet-veg-3-1x.png 1x, 
                        ./img/tablet-veg-3-2x.png 2x" 
                    />
                    <source 
                        media="(max-width: 767px)" 
                        srcset="./img/mobile-veg-3-1x.png 1x, 
                        ./img/mobile-veg-3-2x.png 2x" 
                    />
                    <img 
                        src="./img/desct-veg-3-1x.png" 
                        alt="mushrooms"
                        width="282"
                        height="243"
                    />
                </picture>
            </li>
            <li class="veg-list-item">
                <h3 class="veg-subtitle">corn</h3>
                <p class="veg-price">60 UAH / kg</p>
                <picture>
                    <source 
                        media="(min-width: 1280px)" 
                        srcset="./img/desct-veg-4-1x.png 1x, 
                        ./img/desct-veg-4-2x.png 2x"
                    />
                        <source 
                        media="(min-width: 768px)" 
                        srcset="./img/tablet-veg-4-1x.png 1x, 
                        ./img/tablet-veg-4-2x.png 2x" 
                    />
                        <source 
                        media="(max-width: 767px)" 
                        srcset="./img/mobile-veg-4-1x.png 1x, 
                        ./img/mobile-veg-4-2x.png 2x" 
                    />
                    <img 
                        src="./img/desct-veg-4-1x.png" 
                        alt="corn" 
                        width="282" 
                        height="243" 
                    />
                </picture>
            </li>
            <li class="veg-list-item">
                <h3 class="veg-subtitle">sweet potatoes</h3>
                <p class="veg-price">50 UAH / kg</p>
                <picture>
                    <source 
                        media="(min-width: 1280px)" 
                        srcset="./img/desct-veg-5-1x.png 1x, 
                        ./img/desct-veg-5-2x.png 2x" 
                    />
                    <source 
                        media="(min-width: 768px)" 
                        srcset="./img/tablet-veg-5-1x.png 1x, 
                        ./img/tablet-veg-5-2x.png 2x" 
                    />
                    <source 
                        media="(max-width: 767px)" 
                        srcset="./img/mobile-veg-5-1x.png 1x, 
                        ./img/mobile-veg-5-2x.png 2x" 
                    />
                    <img 
                        src="./img/desct-veg-5-1x.png" 
                        alt="sweet potatoes" 
                        width="282" 
                        height="243" 
                    />
                </picture>
            </li>
            <li class="veg-list-item">
                <h3 class="veg-subtitle">carrot</h3>
                <p class="veg-price">40 UAH / kg</p>
                <picture>
                    <source 
                        media="(min-width: 1280px)" 
                        srcset="./img/desct-veg-6-1x.png 1x, 
                        ./img/desct-veg-6-2x.png 2x"
                    />
                    <source 
                        media="(min-width: 768px)" 
                        srcset="./img/tablet-veg-6-1x.png 1x, 
                        ./img/tablet-veg-6-2x.png 2x" 
                    />
                    <source 
                        media="(max-width: 767px)" 
                        srcset="./img/mobile-veg-6-1x.png 1x, 
                        ./img/mobile-veg-6-2x.png 2x" 
                    />
                    <img 
                        src="./img/desct-veg-6-1x.png" 
                        alt="carrot" 
                        width="282" 
                        height="243" 
                    />
                </picture>
            </li>
        </ul>
    </div>
</section>