<section class="your-order">
  <div class="container">
    <h2 class="title-your-order">Fresh Harvest Box has got you covered</h2>
    <p class="text-your-order">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <div class="form-your-order-block">
      <h3 class="form-subtitle-your-order">
        Ordering from us is quick and easy! Fill out the form below and we will
        contact you !
      </h3>
      <form class="form-your-order">
        <label class="label-your-order" for="full-name">
          <input
            class="input-your-order"
            type="text"
            name="full-name"
            placeholder="Full Name"
          />
        </label>
        <label class="label-your-order" for="email">
          <input
            class="input-your-order"
            type="email"
            name="email"
            placeholder="Email"
          />
        </label>
        <label class="user-text-your-order" for="user-text"></label>
        <textarea
          name="user-text"
          id="user-text"
          class="comment-textarea-your-order"
          placeholder="Comment"
        ></textarea>
      </form>
      <button type="submit" class="form-send-btn-your-order">Send</button>
    </div>
    <div class="link-block-your-order">
      <picture class="picture-your-order">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/your_order/rectangle.jpeg   1x,
            ./img/your_order/rectangle_2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/your_order/rectangle_tab.jpg     1x,
            ./img/your_order/rectangle_tab_2x.jpeg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/your_order/rectangle_mob.jpeg    1x,
            ./img/your_order/rectangle_mob_2x.jpeg 2x
          "
        />
      </picture>
      <img
        class=""
        src="./img/your_order/rectangle_tab.jpg"
        alt="rectangle"
        width="528"
      />
      <p class="text-link-block-your-order">
        Follow us on our social networks:
      </p>
      <ul class="list-link-your-order">
        <li class="item-link-your-order">
          <a class="soc-link-your-order" href="">instagram</a>
        </li>
        <li class="soc-link-separator">/</li>
        <li class="item-link-your-order">
          <a class="soc-link-your-order" href="">facebook</a>
        </li>
        <li class="soc-link-separator">/</li>
        <li class="item-link-your-order">
          <a class="soc-link-your-order" href="">youtube</a>
        </li>
      </ul>
    </div>
  </div>
</section>
