.advert {
    background-color: #fbfbfb;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.discount-text {
    font-weight: 600;
    font-size: 48px;
    line-height: 104%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
}

.disc-part-text {
    color: #fbfbfb;
    background-color: #576f35;
    border-radius: 12px;
    /* width: 355px; */
}

@media screen and (min-width: 768px) {
    .discount-text {
        font-size: 64px;
        line-height: 109%;
    }

    /* .disc-part-text {
        width: 736px;
    } */
}

@media screen and (min-width: 1280px) {
    .discount-text {
        font-size: 76px;
        line-height: 105%;
    }
}