.footer {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    background-color: #7a3145;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 296px;
    margin-bottom: 40px;
}

.footer-logo-icon {
    display: flex;
    align-items: center;
    gap: 2px 4px;
}

.footer-icon {
    fill: #fff;
}

.footer-icon-text {
    fill: #fff;
}

.footer-pervoe-text {
    color: #fbfbfb;
    font-family: 'Inter Tight';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    font-style: normal;
}
.footer-vtoroe-nav {
    margin-bottom: 80px;
}

.footer-vtoroe-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 40px;
}

.footer-item {
    color: #fbfbfb;
    font-family: 'Inter Tight';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.02em;
}

.footer-vtoroe-address {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-tel {
    color: #fbfbfb;
    font-family: 'Inter Tight';
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    font-style: normal;
    font-weight: 600;

}

.footer-address {
    color: #fbfbfb;
    font-family: 'Inter Tight';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.footer-ul-niz {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-niz-p {
    font-family: 'Inter Tight';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
}

.footer-niz-razdel {
    margin-left: 8px;
    margin-right: 8px;
    color: rgba(251, 251, 251, 0.5);
    font-family: 'Inter Tight';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: -0.02em;

}
.footer-niz-c {
    color: rgba(251, 251, 251, 0.5);
    font-family: 'Inter Tight';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: -0.02em;
}

.footer-niz-g {
    color: rgba(251, 251, 251, 0.5);
    font-family: 'Inter Tight';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.02em;
}
@media screen and (min-width: 768px) {
.footer {
    max-width: 100%;
    margin: 0 auto;
    padding: 32px 0;
}
.footer-container {
    padding: 0 32px;
}
    .footer-logo-icon {
    gap: 2px 8px;
}
.pervoe {
    flex-direction: row;
    display: flex;
}

.footer-logo {
    width: 265px;
    gap: 25px;
}

.footer-icon {
    width: 18px;
    height: 18px;
    }

.footer-icon-text {
    width: 168px;
    height: 15px;
}

.footer-pervoe-text {
    font-family: 'Inter Tight';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    font-style: normal;

}

.footer-vtoroe-nav {
    margin-bottom: 100px;
    margin-left: 224px;
}

.footer-vtoroe-list {
    gap: 25px;
    margin-bottom: 64px;
}

.footer-item {
    font-size: 32px;
}

.footer-vtoroe-address {
    gap: 25px;
}

.footer-tel {
    font-size: 18px;
    line-height: 1.11;
}

.footer-address {
    font-size: 18px;
    line-height: 1.11;
}

.footer-niz-p {
    font-size: 18px;
    line-height: 1.11;
}

.footer-niz-razdel {
    font-size: 18px;
    line-height: 1.11;
}

.footer-niz-c {
    font-size: 18px;
    line-height: 1.11;
}

.footer-niz-g {
    font-size: 18px;
    line-height: 1.11;
}
}

@media screen and (min-width: 1280px) {
.footer {
    max-width: 100%;
    padding: 50px 0;
    margin: 0 auto;
    
}

.footer-container {
    padding: 0 100px;
}

.footer-logo {
    margin-bottom: 0;
}

.footer-vtoroe-nav {
    display: flex;
    margin-left: 302px;
    margin-bottom: 125px;
}

.footer-nav {
    margin-right: 121px;
}

.footer-vtoroe-list {
    margin-bottom: 0;
}

.footer-vtoroe-address {
    margin-bottom: 0;
}
}




