.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

