*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #576f35;
  ;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-style: normal;
}

.head {
  margin-top: 20px;
}

.nav-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-head {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ic-logo-head,
.ic-logo-head-name,
.ic-head-menu {
  color: #fbfbfb;
}

.nav-menu {}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}