.hero {
  background-color: #576f35;
}

.hero-text {
  color: #fbfbfb;
  padding: 100px 20px 0 20px;
  margin-bottom: 40px;
}

.hero-title {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
  max-width: 335px;
}

.hero-description {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  max-width: 335px;
}

.hero-img-bgr {
  max-width: 375px;
  height: 370px;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url(../img/basket-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-img-bgr {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/basket-mob-2x.jpg);
  }
}

@media screen and (min-width: 375px) {
  .hero-img-bgr {
    max-width: 375px;
    height: 370px;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .hero-text {
    padding: 122px 32px 0 32px;
    margin-bottom: 50px;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 25px;
    max-width: 704px;
  }

  .hero-description {
    font-size: 16px;
    line-height: 1.25;
    max-width: 603px;
  }

  .hero-img-bgr {
    min-width: 768px;
    height: 539px;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/basket-tab-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-img-bgr {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../img/basket-tab-2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    display: flex;
  }

  .hero-text {
    padding: 238px 28px 50px 100px;
    margin-bottom: 0;
  }

  .hero-title {
    margin-bottom: 128px;
    max-width: 504px;
  }

  .hero-description {
    max-width: 472px;
  }

  .hero-img-bgr {
    min-width: 650px;
    height: 800px;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/basket-desk-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-img-bgr {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../img/basket-desk-2x.jpg);
    }
  }
}
