/* styles how it works */

img {
    display: block;
    border-radius: 30px;
    border: none;
  }
  
  .container {
    min-width: 320px;
    max-width: 320px;
    padding: 0;
    margin: 0 auto;
  }
  
  .section-how-it-works {
    min-width: 320px;
    background: #f4f4fd;
  }
  
  .visually-hidden {
    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
  
  .left-section {
    position: relative;
    overflow: hidden;
    width: 335px;
    height: 450px;
    padding: 40px 20px 40px 20px;
    background-color: #7a3145;
  }
  
  .left-section img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    height: 450px;
    object-fit: cover;
  }
  
  .right-section {
    width: 335px;
    padding: 80px 20px 80px 20px;
    background-color: #576f35;
  }
  
  .text-title {
    font-family: Inter Tight, serif;
    color: #fbfbfb;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.05em;
    line-height: 100%;
    margin-bottom: 40px;
  }
  
  .paragraph {
    font-family: Inter Tight, serif;
    color: #fbfbfb;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
    line-height: 140%;
    margin-bottom: 40px;
  }
  
  .transparent {
    opacity: 0.3;
  }

  .title {
    margin-bottom: 40px;
  }
  
  .items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    counter-reset: li;
  }
  
  .bold {
    color: #141414;
    font-weight: bold;
  }
  
  .items li {
    background-color: #fbfbfb;
    font-family: Inter Tight, serif;
    text-align: left;
    padding: 12px 27px 12px 24px;
  }
  
  .items li:before {
    content: counter(li);
    counter-increment: li;
    border-radius: 50%;
    background-color: #7a3145;
    color: #fbfbfb;
    width: 42px;
    height: 42px;
    font-family: Inter Tight, serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    float: left;
    margin-right: 24px;
    border: 5px solid rgba(214, 195, 200, 255);
    position: relative;
  }
  
  .item-1,
  .item-2,
  .item-3 {
    border-radius: 15px;
    background-color: #fbfbfb;
    color: rgba(125, 125, 125, 255);
    font-family: Inter Tight, serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.01em;
    
  }
  
  .item-1 {
    padding: 12px 27px 12px 24px;
  }
  
  .item-2 {
    padding: 12px 59px 12px 24px;
  }
  
  .item-3 {
    padding: 12px 24px 12px 24px;
  }
  