/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./your_order.css');

body {
  font-family: 'Inter tight', sans-serif;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 500;
}
