.your-order-section {
  background-color: #7a3145;
  padding-top: 80px;
  padding-bottom: 80px;
}

.your-order {
}

.title-block-your-order {
  margin-bottom: 40px;
}

.title-your-order {
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  max-width: 335px;
  margin-bottom: 29px;
}

.title-part span {
  color: rgba(251, 251, 251, 0.3);
}

.text-your-order {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  max-width: 335px;
}
/* form */

.form-your-order-block {
  background-color: #fbfbfb;
  border-radius: 30px;
  max-width: 335px;
  padding: 40px 20px;
  margin-bottom: 20px;
}
.form-subtitle-your-order {
  color: #141414;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: 295px;
}
.color-from-us {
  color: #7a3145;
}

.color-the-form {
  color: #576f35;
}

.form-your-order {
}
.block-input-your-order {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 15px;
}
.input-your-order {
  width: 100%;
  border-radius: 30px;
  border: 1px solid rgba(20, 20, 20, 0.2);

  color: #141414;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.input-your-order::placeholder {
  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.input-your-order:focus,
.input-your-order:hover {
  border: 1px solid #7a3145;
}

.input-your-order:not(:placeholder-shown):invalid {
  border: 1px solid #e74a3b;
}

.input-your-order:not(:placeholder-shown):valid {
  border: 1px solid #3cbc81;
}

.text-valid,
.text-invalid {
  font-size: 14px;
  padding-left: 16px;
  margin-top: 4px;
  display: none;
  font-weight: 500;
  line-height: 1.29;
}

.text-valid {
  color: #3cbc81;
}

.text-invalid {
  color: #e74a3b;
}
.input-your-order:not(:placeholder-shown):valid ~ .text-valid {
  display: block;
}

.input-your-order:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}

.user-text-your-order {
  display: flex;
}
.comment-textarea-your-order {
  border-radius: 15px;
  border: 1px solid rgba(20, 20, 20, 0.2);
  width: 100%;
  height: 91px;
  padding-top: 14px;
  padding-left: 16px;
  resize: none;

  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.comment-textarea-your-order::placeholder {
  color: #141414;
}

.comment-textarea-your-order:hover,
.comment-textarea-your-order:focus {
  border: 1px solid #7a3145;
}

.form-send-btn-your-order {
  border: none;
  border-radius: 30px;
  background: #576f35;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin-top: 20px;

  color: #fbfbfb;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.form-send-btn-your-order:hover,
.form-send-btn-your-order:focus {
  color: #622133;
}

.link-block-your-order {
  padding: 40px 20px;
  max-width: 335px;
  border-radius: 30px;
  background: #576f35;
}
.picture-your-order {
}
.your-order-picture {
  border-radius: 15px;
  background: transparent;
  margin-bottom: 20px;
}
.text-link-block-your-order {
  color: rgba(251, 251, 251, 0.5);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}
.list-link-your-order {
  color: #fbfbfb;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
  letter-spacing: -0.02em;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-link-your-order:hover,
.item-link-your-order:focus {
  color: #622133;
}
.soc-link-your-order {
}
.soc-link-separator {
}

@media screen and (min-width: 768px) {
  .your-order-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .form-link-block {
    padding-left: 70px;
    padding-right: 70px;
  }

  .title-block-your-order {
    padding-right: 96px;
    padding-left: 32px;
    margin-bottom: 50px;
  }

  .title-your-order {
    font-size: 64px;
    line-height: 1;
    max-width: 640px;
    margin-bottom: 25px;
  }

  .text-your-order {
    font-size: 16px;
    line-height: 1.25;
    max-width: 640px;
  }

  .form-your-order-block {
    max-width: 628px;
    padding: 50px 100px;
    margin-bottom: 25px;
  }

  .comment-textarea-your-order {
  }

  .form-subtitle-your-order {
    margin-bottom: 50px;
    max-width: 428px;
  }

  .input-your-order {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .input-your-order::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }

  .block-input-your-order {
    font-size: 16px;
    line-height: 1.25;
  }

  .comment-textarea-your-order {
    font-size: 16px;
    line-height: 1.25;
  }

  .form-send-btn-your-order {
    font-size: 18px;
    line-height: 1.11;
    margin-top: 25px;
  }

  .link-block-your-order {
    padding: 50px;
    max-width: 628px;
  }

  .your-order-picture {
    margin-bottom: 50px;
  }

  .text-link-block-your-order {
    font-size: 18px;
    line-height: 1.11;
  }

  .list-link-your-order {
    font-size: 32px;
    line-height: 1;
    gap: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .form-link-block {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
  }

  .title-block-your-order {
    padding-right: 0px;
    padding-left: 0px;
  }

  .title-your-order {
    max-width: 751px;
  }

  .text-your-order {
    max-width: 751px;
  }
  .form-link-block {
    padding-left: 0px;
    padding-right: 0px;
  }

  .form-your-order-block {
    width: 100%;
    padding: 50px;
    margin-bottom: 0;
  }

  .link-block-your-order {
    width: 100%;
    padding: 50px;
    margin-bottom: 0;
  }
}
